body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  font-family: Icon;
  font-style: normal;
}

@font-face {
  font-family: Icon;
  src: url("./fonts/GuardianGamesIcons-Regular.woff") format("woff");
  src: url("./fonts/GuardianGamesIcons-Regular.woff2") format("woff2");
}
